.comp-table {
    width: 100%;
    flex-grow: 1;
    position: relative;
}

.comp-table .ag-center-cols-container {
    min-width: 100% !important;
}

.comp-table a {
    text-decoration: none;
    color: var(--link-text-color);
    font-weight: 600;
}

.comp-table a:hover {
    text-decoration: underline;
}

.comp-table .drilldown{
    position: absolute;
    width: calc(80%);
    height: 100%;
    right: 0;
    border-radius: 0 8px 8px 0;
    border: none;
    opacity: 0.8;
    background-color: lightgray;
    z-index: 9;
}