.comp-table {
    width: 100%;
    height: calc(100% - 144px);
}

.comp-table .ag-center-cols-container {
    min-width: 100% !important;
}

.comp-table a {
    text-decoration: none;
    color: var(--link-text-color);
    font-weight: 600;
}
.comp-table a:hover{
    text-decoration: underline;
}