.comp-table {
    width: 100%;
    flex-grow: 1;
    position: relative;
}

.comp-table .ag-center-cols-container {
    min-width: 100% !important;
}

.comp-table a {
    text-decoration: none;
    color: var(--link-text-color);
    font-weight: 600;
}

.comp-table a:hover {
    text-decoration: underline;
}

.comp-table .drilldown {
    position: absolute;
    background-color: #ffffff;
    width: 82%;
    height: 100%;
    right: 0;
    border-radius: 0 8px 8px 0;
    border: none;
    z-index: 9;
    box-sizing: border-box;
    border: 1px solid color-mix(in srgb, transparent, #181d1f 15%);
    display: none;
}

.comp-table .drilldown.shown {
    display: block;
}