.comp-topbar{
    width: 100%;
    padding: 24px;
    background-color: var(--search-bg-color);;
    color: var(--leftbar-text-color);
}

.comp-topbar .logo {
    height: 34px;
    width: fit-content;
    cursor: pointer;
}

.comp-topbar .logo img {
    height: 100%;
}